body{
	min-width: inherit;
}

.logo2{
	display: none;
}

.hamburger{
	display: inline-block;
}

.exit{
	display: inline-block;
}

.zapoznanie{
	width: auto;
	padding: inherit;
	float: none;
}

.register{
	float: none;
	width: auto;
	margin-top: 20px;
}

#menu{
	display: none;
}

.buttons{
	padding: 10px;
	vertical-align: inherit;
	margin-left: inherit;
	text-align: right;
}

.button{
	float: none;
	border-bottom: none;
	padding: 10px 15px;
	padding-top: 0px;
}

.top{
	padding-top: 15px;
}

.tor{
	height: 250px;
	transition: none;
}

@media screen and (orientation: landscape) {
	.tor{
		height: 400px;
	}
}
